/*Navbar*/
nav h1{
    font-family: 'Oswald', sans-serif;
}

.fondo{
    background-color: #097f88;
}

/*header*/
.hero{
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 45em;
    
    
    font-family: 'Oswald', sans-serif;
}   
.titulo{
    position: relative;
    display: inline-block;
    top:42em;
}
.titulo hr{
    height: 2px;
    background-color: white;
}

/*Sobre mi*/
.yo{
    font-family: 'Open Sans', sans-serif;
}
.yo hr{
    height: 2px;
    width: 150px;
    background-color: black;
}
.yo h3{
    font-weight: 600;
    line-height: 200%;
}
.yo p{
    line-height: 270%;
    text-align: justify;
}

/*Mi experiencia*/
.exp{
    font-family: 'Oswald', sans-serif;
}

.exp hr{
    height: 2px;
    width: 150px;
    background-color: black;
}
.exp h2{
    font-weight: 600;
}
.exp h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.cambioTono{
    color: #097f88;
}

/*Mis ultumos trabajos*/
.work{
    font-family: 'Oswald', sans-serif;  
}
.work hr{
    height: 2px;
    width: 150px;
    background-color: white;
}
.work h5{
    font-weight: 600;
}
.work p{
    font-family: 'Open Sans', sans-serif;
}

/*Contacto*/
.formulario{
    font-family: 'Oswald', sans-serif;  
}
.formulario hr{
    height: 2px;
    width: 150px;
    background-color: black;
}
/*Footer*/
.pie{
    font-family: 'Oswald', sans-serif;  
}
.iconos a{
    color: white;
}
/*desaparecer SobreMi*/
@media (max-width: 600px) {
    .yo {
        display: none;
    }