/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*Navbar*/
nav{
    font-family: 'Oswald', sans-serif
}

.fondo{
    background-color: #660066;
}

/*header*/
.hero{
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 46.063em;
}   